<div id='timer-container-<%= time_frame.id %>' class="timer-container"
  data-timer-<%= time_frame.id %>='true'
  data-start-time='<%= time_frame.start_time.to_i %>'
  data-time-elapsed=<%= time_frame.time_elapsed %>
  data-timer-active=<%= time_frame.active %>
  data-timer-id=<%= time_frame.id %>>
  <div class="row">
    <div class="col-4">
      <!-- Description: onClick show this form -->
      <div id='timer-<%= time_frame.id %>-description-form' class='timer-description-form' style='display: none;'>
        <%= form_for time_frame, remote: true do |f| %>
        <div class='field form-group'>
          <%= f.text_field :description, class: 'form-control' %>
        </div>
        <%= f.submit "Submit", style: 'display: none;' %>
        <% end %>
      </div>

      <!-- else show this -->
      <div  class='timer-description-text'>
        <% if time_frame.description.blank? %>
          <span id='timer-<%= time_frame.id %>-description-text' class='font-italic text-secondary'>
            (No Description)
          </span>
        <% else %>
          <span id='timer-<%= time_frame.id %>-description-text'>
            <%= time_frame.description  %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="col-5 text-right">
      <!-- Time Elapsed: onClick show this form -->
      <div id='timer-<%= time_frame.id %>-time-elapsed-form' class='timer-time-elapsed-form' style='display: none;'>
        <%= form_for time_frame, remote: true do |f| %>
        <div class='field form-group'>
          <%= f.text_field :time_elapsed, class: 'form-control time-frames-time-elapsed text-right' %>
        </div>
        <%= f.submit "Submit", style: 'display: none;' %>
        <% end %>
      </div>

      <!-- else show this -->
      <div id='timer-<%= time_frame.id %>-time-elapsed'>
        <%= time_frame.formatted_time_elapsed %>
      </div>
    </div>
    <div id='timer-controls-<%= time_frame.id %>'class="col-3 timer-controls">
      <%= link_to "Stop", stop_time_frame_path(time_frame), remote: true, class: 'btn btn-danger stop-timer-btn', hidden: !time_frame.active %>
      <%= link_to "Start", start_time_frame_path(time_frame), remote: true, class: 'btn btn-success start-timer-btn', hidden: time_frame.active %>
    </div>
  </div>
</div>
